<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Template Email</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0; background-color: #FFE8EF;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 10px 0 0 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="padding: 40px 30px 0 30px;">
                <tr>
                    <td>
                        <p style="font-family: Montserrat, sans-serif; margin: 0;">
                            Devenez membre de la famille MMI de Limoges !
                        </p>
                        <p style="font-family: Poppins, sans-serif; color: #EC6D9B; margin: 0;">
                            <b>Suivez les instructions ci-dessous.</b>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        <img src="{{ email.image('@images/astronaute.png') }}" style="width: 20%;">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 0 0 30px 0;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: none; border-collapse: collapse;">
                <tr>
                    <td bgcolor="#ffffff" style="padding: 40px 30px 60px 30px; border-radius: 20px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-radius: 20px">
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td style="color: #000; font-family: Montserrat, sans-serif; font-size: 32px;">
                                                <b>Bienvenue</b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            <tr>
                                <td style="padding: 20px 0 0 0; color: #000; font-family: Poppins, sans-serif; font-size: 17px; line-height: 20px;">
                                    <p>Nous vous envoyons vos identifiants pour vous connecter sur le site “MMI Space” :</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tr>
                                            <td width="260" valign="top">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td style="padding: 25px 0 0 0; color: #000; font-family: Montserrat, sans-serif; font-weight: bold; font-size: 14px; line-height: 20px;">
                                                            Votre adresse mail: {{ id }}<br>
                                                            <br>
                                                            Votre mot de passe : {{ passwd }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="display: flex; flex-wrap: wrap; justify-content: center; padding-top: 5rem;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <button style="background-color: #EC6D9B; border: none; border-radius: 6px; padding: .5rem .8rem .5rem; font-family: Montserrat, sans-serif; font-weight: bold; font-size: 12px;">
                                            <a href="https://mmispace.mathieu-parinet.fr/" style="text-decoration: none; color: #ffffff;">
                                                Se connecter
                                            </a>
                                        </button>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <br>
                                    <p>
                                        Si le bouton ne fonctionne pas : <b><a href="https://mmispace.mathieu-parinet.fr">https://mmispace.mathieu-parinet.fr</a></b>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 30px 30px 30px 30px; text-align: center;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="color: #000000; font-family: Poppins, sans-serif; font-size: 10px;">
                                    2021 - MMI Space<br/>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>